@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.masked {
  position: relative;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.masked::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: blur(40px);
  opacity: 0.8;
}

.masked::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: blur(10px);
  opacity: 0.8;
} 